.botaoEnviar {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pontuacao {
  margin-top: 20px;
  font-size: 18px;
  color: #2e7d32;
}
