/*/global.css*/
@import "@flaticon/flaticon-uicons/css/all/all.css";
@import "tailwindcss";

@plugin "daisyui/theme" {
  name: "lightScheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #f5f5f5;
  --color-base-300: #e4e4e4;
  --color-base-content: #161616;
  --color-primary: #e7000b;
  --color-primary-content: #ffffff;
  --color-secondary: #162455;
  --color-secondary-content: #eff6ff;
  --color-accent: #000000;
  --color-accent-content: #ffffff;
  --color-neutral: #433f3a;
  --color-neutral-content: #e6e4e3;
  --color-info: #00bafe;
  --color-info-content: #014a70;
  --color-success: #99e600;
  --color-success-content: #33520c;
  --color-warning: #ff8904;
  --color-warning-content: #7c2808;
  --color-error: #801518;
  --color-error-content: #ffffff;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "darkScheme";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #242424;
  --color-base-200: #161616;
  --color-base-300: #090909;
  --color-base-content: #ffffff;
  --color-primary: #bf0005;
  --color-primary-content: #ffffff;
  --color-secondary: #193ab7;
  --color-secondary-content: #ffffff;
  --color-accent: #ff6700;
  --color-accent-content: #0b0908;
  --color-neutral: #f2f2f2;
  --color-neutral-content: #09090b;
  --color-info: #00bafe;
  --color-info-content: #042e49;
  --color-success: #99e600;
  --color-success-content: #182d02;
  --color-warning: #fbc700;
  --color-warning-content: #411e03;
  --color-error: #ff637d;
  --color-error-content: #4d0218;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui" {
  themes: "lightScheme" --default, "darkScheme";
}

.tooltip-custom[data-tip]::before {
  @apply text-xs whitespace-normal;
  max-width: 9rem !important;
}

.btn {
  border-radius: var(--radius-box);
}

body {
  @apply bg-base-100 text-base-content;
  scroll-behavior: smooth;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.25s ease-out forwards;
}