.container {
  display: flex;
  padding: 8px 0;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: calc(100vh - 50px);
  background-color: #f3f3f3;
  overflow-y: hidden;

  h2 {
    color: #ed1e25;
    font-size: 24px;
  }
}

.formBox {
  margin-top: 16px;
  overflow-y: auto;
  padding-bottom: 24px;
}

.selects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
  width: max-content;
}

.roundSelector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  font-family: Arial, sans-serif;
}

.roundSelector .label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.roundSelector .select {
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  color: var(--foreground);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.roundSelector .select:focus {
  outline: none;
  border-color: #ed1e25;
  box-shadow: 0 0 0 3px #ed1e2533;
  background-color: #fff;
}

.botaoEnviar {
  padding: 10px 20px;
  background-color: #ed1e25;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.pontuacao {
  font-size: 18px;
  color: #014861;
}
